<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog - Grandstyle</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/favicon.ico" />
    <link rel="stylesheet" href="core-styles.css" />
    <link
      rel="stylesheet"
      href="style.css"
      media="print"
      onload="this.media='all'; this.onload=null;"
    />
    <noscript>
      <link rel="stylesheet" href="style.css" />
    </noscript>

    <link
      rel="preload"
      href="../../../fonts/space-grotesk-v16-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav id="nav">
      <div class="reach-out-nav">
        <span>
          <a href="mailto:grandstyleentltd@gmail.com">
            <i class="fas fa-envelope"></i>
            <span class="react-out-nav-content-text">
              grandstyleentltd@gmail.com
            </span>
          </a>
          <a href="tel:+2348036380515">
            <i class="fas fa-phone"></i>
            <span class="react-out-nav-content-text">08036380515</span>
          </a>
        </span>
        <span class="social-links">
          Social Media:
          <a>
            <i class="fab fa-facebook"></i>
          </a>
          <a href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="">
            <i class="fab fa-youtube"></i>
          </a>
        </span>
      </div>
      <div class="main-nav-wrapper">
        <div class="mobile-nav-wrapper">
          <a href="/" id="logo">
            <h3>Grandstyle Ent.</h3>
          </a>

          <div class="mobile-menu-btn">
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </div>
        </div>
        <div class="nav-links">
          <a href="/blog/search/" class="active">
            <span><i class="fas fa-search"></i></span>
          </a>
        </div>
      </div>
    </nav>

    <form class="search-container">
      <h1>Blog Search</h1>
      <input
        type="text"
        id="searchInput"
        oninput="searchPosts()"
        placeholder="Explore our blog with a quick search..."
      />
      <button type="submit" onclick="searchPosts()">Find Post</button>
      <div id="search-results"></div>
    </form>

    <footer>
      <div>
        <h2>GrandStyle Ent.</h2>
        <p>Get The Best Of Video Production And Music Now</p>
      </div>
      <div>
        <h2>Useful Links</h2>
        <a href="/blog/">Our Blog</a>
      </div>
      <div>
        <h2>Reach Out</h2>
        <a href="mailto:grandstyleentltd@gmail.com">
          Email: grandstyleentltd@gmail.com
        </a>
        <a> Address: 33 Yaounde Street, zone 6, Abuja. </a>
        <a href="tel:+2348036380515">Phone: 08036380515</a>
      </div>
      <div class="social-icons-links">
        <h2>Follow Us On</h2>
        <div>
          <a class="social-icons-link" href="/">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="social-icons-link" href="/">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a class="social-icons-link" href="/">
            <i class="fa-brands fa-soundcloud"></i>
          </a>
        </div>
      </div>
      <p>&copy; 2023 GrandStyle Entertainment Company. All rights reserved.</p>
    </footer>
    <script src="main.js"></script>
  </body>
</html>
