---
title: 'Discography'
pathname: 'discography'
layout: 'base.njk'
---

<section class="discography">
  <h1>Our Music</h1>
  <p>Get Access To The Top Music In Nigeria</p>
  <div class="artist-data-content-wrapper">
    {%- for artist in collections.artist -%}
    <div class="artist-data-content">
      <a href="{{ artist.url }}">
        <div class="artist-image-wrapper">
          <img
            decoding="async"
            class="artist-image"
            src="{{ artist.data.image }}"
            alt="Person Recording In A Studio"
          />
        </div>

        <h2 class="artist-name">{{ artist.data.name }}</h2>
        <p class="artist-desc">
          {{ artist.data.description }}
        </p>
      </a>
      <div class="artist-social-links">
        {%- for socialLink in artist.data.socialLinks -%}
        <a href="{{ socialLink.youtube }}"><i class="fab fa-youtube"></i></a>

        <a href="{{ socialLink.tiktok }}"><i class="fab fa-tiktok"></i></a>

        <a href="{{ socialLink.spotify }}"><i class="fab fa-spotify"></i></a>
        {%- endfor %}
      </div>
    </div>
    {%- endfor %}
  </div>
</section>
