---
title: 'Discography'
pathname: 'discography'
layout: 'base.njk'
---

<section class="discography">
  <h1>Our Music</h1>
  <p>Get Access To The Top Music In Nigeria</p>
  <div>
    {%- for artist in collections.artist -%}
    <div>
      <a href="/discography/artist/{{ artist.url }}">
        <img
          decoding="async"
          src="{{ artist.data.image }}"
          alt="Person Recording In A Studio"
        />

        <h2>{{ artist.data.name }}</h2>
        <p>
          {{ artist.data.description }}
        </p>
      </a>
    </div>
    {%- endfor %}
  </div>
</section>
