---
title: 'Discography'
pathname: 'discography'
layout: 'base.njk'
---

<section class="discography">
  <h1>Our Music</h1>
  <p>Get Access To The Top Music In Nigeria</p>
  <div>
    {%- for song in collections.song -%}
    <div>
      <a href="">
        <img
          decoding="async"
          src="{{ song.data.image }}"
          alt="Person Recording In A Studio"
        />
        <h2>{{ song.data.title }}</h2>
        <p>
          {{ song.data.artist }}
        </p>
      </a>
    </div>
    {%- endfor %}
  </div>
</section>
