.featured-posts {
  padding: 6.25rem 4.375rem;
}

.featured-posts h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.featured-posts-wrapper .featured-post {
  display: flex;
  gap: 2.1875rem;
  align-items: center;
  margin-top: 2.1875rem;
}

.featured-post-content-image {
  max-width: 50%;
  flex: 0 0 calc(50% - 2.1875rem);
  height: 25rem;
}

.featured-post-content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.featured-post-content {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  max-width: 50%;
  flex: 0 0 calc(50% - 2.1875rem);
}

.featured-post-content .read-more-btn {
  background-color: #c74334;
  padding: 0.9375rem 1.875rem;
  color: #fff;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  width: fit-content;
  border-radius: 3.125rem;
}

.featured-post-author-desc span {
  margin-right: 0.625rem;
  font-size: 0.9375rem;
  color: #333;
  font-weight: 400;
}

.featured-post-title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.featured-post-desc {
  font-size: 0.9375rem;
}

footer {
  background-color: #212121;
  padding: 6.25rem 3.125rem;
  padding-bottom: 1.25rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  flex-wrap: wrap;
}

footer > div {
  max-width: 33%;
  flex: 0 0 33%;
}

footer > div > h2 {
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

footer > div > p {
  font-size: 0.875rem;
}

footer > div > a {
  font-size: 0.875rem;
  display: block;
  margin-bottom: 0.625rem;
}

footer > .social-icons-links > div {
  display: flex;
  gap: 0.625rem;
  align-items: flex-start;
}

footer > .social-icons-links > div > .social-icons-link {
  padding: 0.625rem 0.9375rem;
  border: 1px solid #ddd;
  width: fit-content;
  display: inline-block;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  .featured-post {
    flex-direction: column;
  }

  .featured-post > * {
    max-width: 100%;
    flex: 0 0 100%;
  }

  footer {
    padding-inline: 1.25rem;
    gap: 1.875rem;
  }

  footer > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .featured-posts {
    padding-inline: 1.25rem;
  }
}
